# General 
.DS_Store
.fleet
.idea/
logs/
*.log
*.tmp
*.bak

# Node.js & Nuxt.js
node_modules/
.nuxt/
.nuxt-*
.output/
.gen/
dist/
.nitro/
.cache/

# Nuxt dev/build outputs
.data/

# Local files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.manifest
*.spec

# Virtualenv and Python environments
.venv/
env/
ENV/
env.bak/
venv/
venv.bak/
pyvenv.cfg
pip-selfcheck.json

# Packaging & Build
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Test & Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache/
pytest_cache/
.cover
.pytest_cache/
*.mo
*.pot
.hypothesis/
.pytype/
.pyre/

# Flask-specific
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Miscellaneous
cython_debug/
profile_default/
ipython_config.py

# Render-specific
.cache/
logs/
*.log
node_modules/
.nuxt/
dist/
__pycache__/

# Backend-specific
backend/test.py
modeltrainer/images/
modeltrainer/ocr_outputs/
modeltrainer/pdfs/
modeltrainer/requeriments.txt
modeltrainer/outputModel_MantlHood/

# Frontend-specific
frontend/public/workers/
frontend/pages/
frontend/server/
frontend/assets/global.css
frontend/tsconfig.json
frontend/package.json

# LSP & Tooling
pyrightconfig.json
.ruff_cache/
poetry.toml

# Backup and temp files
**/*.backup.*
**/*.back.*
*.sublime*

# Exclude JetBrains-specific files (PyCharm, WebStorm, etc.)
.idea/

# Assets and media files
*.psd
*.sketch
thumb